@font-face {
    font-family: 'Belgiano Serif';
    src: url('BelgianoSerif-Regular.woff2') format('woff2'),
        url('BelgianoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Belgiano Serif';
    src: url('BelgianoSerif-Regular.woff2') format('woff2'),
        url('BelgianoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

