@font-face {
    font-family: 'Ballitar City';
    src: url('BallitarCity.woff2') format('woff2'),
        url('BallitarCity.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ballitar City';
    src: url('BallitarCity.woff2') format('woff2'),
        url('BallitarCity.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

