@font-face {
    font-family: 'Movie Font';
    src: url('MovieFontRegular.woff2') format('woff2'),
        url('MovieFontRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

